@font-face {
    font-family: 'Lexend Deca';
    src: url('./assets/fonts/LexendDeca.ttf')
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Lexend Deca';
}
*:focus {
    outline: none;
}